@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzar que el iframe del Superset ocupe TODA la pantalla */
#superset-container iframe {
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
  display: block;
  border: none !important;
}
